footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--color-text);
  background-color: var(--color-bg-main);
  font-style: italic;
  transition: background-color 0.3s ease, color 0.3s ease;
}

footer span {
  display: block;
  opacity: 0.8;
}