.sidebar {
  position: fixed;
  top: 60px; 
  left: 0;
  bottom: 0;
  width: 280px; 
  flex-shrink: 0;
  background-color: var(--color-bg-section);
  padding: 2rem 1.5rem;
  border-right: 5px solid var(--color-border);
  box-shadow: 2px 0 5px var(--color-shadow);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-y: auto;
}

.sidebar h2, .sidebar h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--color-text);
}

.sidebar p {
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
  line-height: 1.5;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar li {
  margin-bottom: 0.75rem;
}

.profile-picture-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-bottom: 1rem;
}

.profile-picture {
  width: 120px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  background-color: var(--color-bg);
  padding: 4px;
  border: 1px solid var(--color-border);
  box-shadow: 0 0 4px var(--color-shadow);
}


.social-links {
  display: flex;
  flex-wrap: wrap;    
  gap: 1rem;
  margin-top: 0.5rem;
}

.social-icon {
  color: var(--color-text);
  flex-shrink: 0; 
}

.social-icon:hover {
  color: var(--color-accent);
  transform: scale(1.1);
}

@media (max-width: 820px) {
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 5px solid var(--color-border);
    justify-content: center;
    text-align: center;
    padding: 1rem 1rem;
  }

  .social-links {
    justify-content: center;
  }

  .profile-picture-container {
    justify-content: center;
  }
}